<div class='bg-gray-900 text-white py-4 2xl:px-48 xl:px-32 md:px-12 px-2 min-h-[calc(100vh-20rem)]'>
  <p class="text-center text-4xl">Menú</p>
  <app-minimenu [imgSrc]="'https://cdn.vox-cdn.com/thumbor/yNKyCm0wG80KiR-27pNeYL1TtBk=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/24355128/shutterstock_1139880671.jpg'"
  [title]="'Entradas'" [link]="'/menu/entries'" [imgSrc2]="'https://freerangestock.com/sample/87072/photo.jpg'" [title2]="'Platos principales'" [link2]="'menu/mainDishes'"
  class="flex lg:flex-row flex-col w-full justify-between lg:items-start items-center gap-x-6 gap-y-8 my-8"></app-minimenu>
  <app-minimenu [imgSrc]="'https://p0.pxfuel.com/preview/946/486/420/dessert-strawberries-tiramisu-yogurt.jpg'" [title]="'Postres'" [link]="'menu/desserts'"
  [imgSrc2]="'https://cdn.pixabay.com/photo/2022/06/23/14/31/red-wine-7279955_1280.jpg'" [title2]="'Bebidas'" [link2]="'menu/beverages'"
  class="flex lg:flex-row flex-col w-full justify-between lg:items-start items-center gap-x-6 gap-y-8 my-8"></app-minimenu>
</div>
