<div class="flex flex-col items-center gap-y-4 lg:w-[700px] w-full cursor-pointer" (click)="navTo(link)">
  <img src={{imgSrc}} class="lg:w-[700px] w-full lg:h-[400px] h-auto"/>
  <p class="text-xl text-center font-bold text-white whitespace-pre-line hover:text-asado-red">{{title}}</p>
</div>
<div class="flex flex-col items-center gap-y-4 lg:w-[700px] w-full cursor-pointer" (click)="navTo(link2)">
  <img src={{imgSrc2}} class="lg:w-[700px] w-full lg:h-[400px] h-auto"/>
  <p class="text-xl text-center font-bold text-white whitespace-pre-line hover:text-asado-red">{{title2}}</p>
</div>
