.bg-img {
  background: url(https://cdn.pixabay.com/photo/2017/09/15/06/54/bbq-2751298_1280.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
