<div class='bg-gray-900 text-white py-4 2xl:px-48 xl:px-32 md:px-12 px-2 min-h-[calc(100vh-20rem)]'>
  <app-my-carousel class="w-full"></app-my-carousel>
  <div class="flex lg:flex-row lg:items-stretch flex-col my-10 text-xl text-justify lg:gap-x-4 gap-y-4 items-center">
    <p class="flex-1 2xl:w-2/3 2xl:self-center lg:w-7/12 w-full">
      En nuestro restaurante, la carne es la estrella indiscutible y nos enorgullecemos de servir cortes selectos y de la más alta calidad, provenientes
      de fuentes responsables y cuidadosamente seleccionadas. Nuestra dedicación a la carne va más allá de la cocina, ya que trabajamos estrechamente con
      productores locales para asegurar la frescura y sostenibilidad de nuestros ingredientes.<br/><br/>
      Nuestro equipo de talentosos chefs, verdaderos maestros parrilleros, dominan el arte de la preparación y cocción de carnes para lograr resultados
      perfectos. Cada bocado es una explosión de sabores, jugosidad y texturas que te transportará a un paraíso culinario.<br/><br/>
      Nuestra carta ofrece una amplia variedad de carnes para todos los gustos: desde cortes clásicos que nunca pasan de moda hasta opciones innovadoras
      que desafían los límites de la creatividad culinaria. Ya sea que prefieras un suculento filete, costillas ahumadas a la perfección o un tierno chuletón,
      aquí encontrarás la carne de tus sueños.
    </p>
    <img class="2xl:w-1/3 lg:w-5/12 w-full object-cover" src="https://cdn.pixabay.com/photo/2016/03/05/20/07/abstract-1238658_1280.jpg">
  </div>
  <div class="flex lg:flex-row lg:items-stretch flex-col-reverse my-10 text-xl text-justify lg:gap-x-4 gap-y-4 items-center">
    <img class="2xl:w-1/3 lg:w-5/12 w-full object-cover" src="https://p1.pxfuel.com/preview/547/822/354/frying-frying-pan-meat-kitchen-food.jpg">
    <p class="flex-1 2xl:w-2/3 2xl:self-center lg:w-7/12 w-full">
      En nuestro restaurante, el talento y la dedicación del personal, especialmente nuestros chefs, son la piedra angular de nuestra excelencia culinaria.
      Nuestro equipo de chefs es una mezcla única de experiencia, pasión y creatividad que eleva cada plato de carne a una obra maestra gastronómica.<br/><br/>
      Cada uno de nuestros chefs es un experto apasionado en el arte de la preparación y cocción de carnes. Con años de experiencia en las más prestigiosas
      cocinas y parrillas, han perfeccionado sus habilidades para llevar la carne a un nivel sublime. Desde la selección de los cortes más finos hasta el
      minucioso proceso de preparación, nuestros chefs trabajan con dedicación y precisión para garantizar que cada plato sea excepcional.<br/><br/>
      Cada día, se esfuerzan por ofrecer lo mejor de sí mismos en la cocina, asegurándose de que cada plato que sale de nuestras cocinas sea una obra
      maestra culinaria. Su dedicación y atención al detalle se ven reflejados en cada bocado, brindando a nuestros clientes una experiencia gastronómica
      única.
    </p>
  </div>
  <p class="text-center text-4xl hover:text-asado-red">Nuestro menú</p>
  <app-minimenu [imgSrc]="'https://berriesandspice.com/wp-content/uploads/2018/08/Berries-and-Spice-How-to-plate-dishes-worthy-of-a-fine-dining-restaurant-the-complete-guide-23-scaled.jpg'"
  [title]="'Entradas'" [link]="'/menu/entries'" [imgSrc2]="'https://freerangestock.com/sample/87072/photo.jpg'" [title2]="'Platos principales'" [link2]="'menu/mainDishes'"
  class="flex lg:flex-row flex-col w-full justify-between lg:items-start items-center gap-x-6 gap-y-8 my-8"></app-minimenu>
  <app-minimenu [imgSrc]="'https://p0.pxfuel.com/preview/946/486/420/dessert-strawberries-tiramisu-yogurt.jpg'" [title]="'Postres'" [link]="'menu/desserts'"
  [imgSrc2]="'https://cdn.pixabay.com/photo/2022/06/23/14/31/red-wine-7279955_1280.jpg'" [title2]="'Bebidas'" [link2]="'menu/beverages'" class="flex lg:flex-row
  flex-col w-full justify-between lg:items-start items-center gap-x-6 gap-y-8 my-8"></app-minimenu>
</div>
